
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Chercher une place"></ion-input>
    <ion-icon name="search-outline" slot="end"></ion-icon>
  </ion-toolbar>



<ion-content>
  <br>
  <strong>
    <ion-text color="primary">Pharmacies</ion-text>
  </strong>

  
<div *ngFor="let image of images">
  <ion-list>

  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="{{image.url}}"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2>{{image.name}}</h2>
      <p>{{image.adresse}}</p>
    </ion-label>
    <ion-icon name="location" slot="end" ></ion-icon>
  </ion-item>


</ion-list>
</div>
</ion-content>


