<ion-content class="bg">

<section>
	<div class="overlay"></div>
</section>
<br/>
<div class="padding" >
	
	<div text-center class="logo">
		<ion-title  class="titre" align="center" color="medium" >Créer Un Compte</ion-title>
		<ion-icon color="medium" name="person-circle-outline"></ion-icon>


    </div>


	<ion-item class="item">
		<ion-label color="light"></ion-label>
		<ion-input color="light" placeholder="Adresse E-mail" type="email"></ion-input >
		<ion-icon color="medium"name="checkmark" ></ion-icon>
	</ion-item>
	<br/>

	<ion-item class="item">
		<ion-label color="light"></ion-label>
		<ion-input color="light" placeholder="Mot de passe" [type]="showPassword ? 'text' : 'password' " ></ion-input>
		 <ion-icon  color="medium" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
	</ion-item>
	<br/>

	<ion-item class="item">
		<ion-label color="light"></ion-label>
		<ion-input color="light" placeholder="Confirmer mot de passe" [type]="showPassword1 ? 'text' : 'password' " name="password"></ion-input>
		 <ion-icon  color="medium" [name]="passwordToggleIcon1" (click)="togglePassword1()"></ion-icon>
	</ion-item>
	<br/>
	<ion-button  expand="block" [routerLink]= "['/home']" >Connexion </ion-button>
	
	<ion-item class="item1" lines="none" >
		<ion-label text-center color="medium">Vous avez déjà connecter?</ion-label>
		<ion-button color="primary"class="btn" fill="clear" [routerLink]= "['/login']">Connecter vous</ion-button>
	</ion-item>
</div>
</ion-content>