section{
	width: 100%;
	height: 100%;
	background:url(/assets/bg.jpg);
	background-size: cover;
	position: absolute;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.overlay{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.6);
}
.titre{
	font-size:35px;
	color:#ffffff;
}
.item1{
	--ion-background-color: transparant!important;
	font-size: 1em;
}
.item{
   --ion-background-color: 	#000000;
}
.item3{
	--ion-background-color: 	#d6d0d0;
	height:1%;
 }
.padding {
    padding: 3%!important;
}
.logo{
 height: 220px;
 position: relative;
 color:#d6d0d0;
	
}
.logo ion-icon{
	position: absolute;
	font-size: 7em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:#d6d0d0;

}
.my-custom-class {
    --backdrop-opacity: 0.2;
    --background: linear-gradient(90deg, rgba(165, 255, 192, 1) 1%, rgba(0, 212, 255, 1) 100%);
}

.footer{
	position: fixed;
	bottom:3%;
	 left: 0;
	  right: 0;
	  }
span{
	color:#cb0808;
	font-size: 0.8em;
}
form{
	padding-bottom: 5%;

	}