<ion-content>


  <div *ngIf="weather">  
 <ion-card>
     <img src= "{{weather.current.weather_icons}}" style="width:100%"/>

  <ion-back-button defaultHref="/home" style="position: absolute; top: 0%" >
	  <ion-icon name="arrow-back-outline" slot="start" style="color: white; font-size: 24px;"></ion-icon>
	</ion-back-button>
  
 <div>
     <p class="top-right">{{weather.current.temperature}}°</p>
     <p><strong class="weather_descriptions">{{weather.current.weather_descriptions}}</strong></p> 
 </div>
 <div>
     <p class="bottom-left">{{weather.location.name}}, <span>{{weather.location.country}}</span> </p>
     <p class="localtime">{{weather.location.localtime}}</p>
 	</div>
 </ion-card> 


      <div>



      </div>  
  </div>


</ion-content>