section{
	width : 100%;
	height: 100%;
	background:url(/assets/login.jpg) ;
	background-size: cover;
	position: absolute;
	overflow:hidden;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.5);
}
ion-item{
	--ion-background-color: transparent!important;

}
.padding{
	padding: 7%;
}
ion-icon {
    font-size:125%;
    right:1.5%;
}

ion-checkbox{
	position: relative; 
	left: 22%;
	
}
.format{
    font-size:71% ;
    text-align: center;

}
.butt-auth{
    position: relative;
	right: 20%;
	height:70%;
}
.titre{

	font-size:35px;
	color:#fefefe;
}
.title{
	height: 240px;
}

.footer{
	position: absolute;
	bottom:3%;
	 left: 0;
  	right: 0;
  	}
.input{
	right:3%;
}

.butt-conn{
	margin-left: auto;
    margin-right: auto;
   

}
.logo{
	height: 250px;
	position: relative;
	color:#d6d0d0;
	   
   }
.logo ion-icon{
	   position: absolute;
	   font-size: 7em;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);
	   color:#d6d0d0;
   
   }