.my-custom-menu {
    --width: 500px;
  }
  ion-input{
    border-radius: 15px 15px 15px;
    width:90%;
    left:5%;
    right:5%;
    top:1.5%;
    box-shadow: 1px 3px 3px rgb(232, 228, 228);
  }
  ion-toolbar{
      border-radius: 25px 25px 25px;
      width:90%;
     left:5%;
     right:5%;
     top:1.5%;
     box-shadow: 1px 3px 6px rgb(232, 228, 228);
    }