.titre{
    padding: 10%;
    color: #167016;
 
 }


ion-card{
    box-shadow:2px 2px 4px 4px gray;
    border-radius: 15px 15px 15px ;
    height:100% ;
}


ion-card-content{
background-color: #8cc9a1;
height: 50%;
}
.small-icon{
    color: black;
    width: 30%;
    height: 30%;
}

ion-card-title{

    margin: 5%;
    color: #CE9C5A;
    text-align: center

}
img{
    height:50% ; 
    display: block;
    width: 50%;
    right: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}
.time{
    position:absolute;
     left:0; 
}
.Location{
    position:absolute;
    right:0; 
}