ion-text{
    padding: 10%;
}

ion-card{
    box-shadow:1px 1px 1px 1px gray;
    border-radius: 15px 15px 15px ;
    height:100% ;
}


ion-card-content{
background-color: #8cc9a1;
height: 50%;
}
.small-icon{
    color: black;
    width: 30%;
    height: 30%;
}
