<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Chercher des Restaurants" [(ngModel)] = "searchTerm"></ion-input>
    <ion-buttons slot="end" (click)="getImagesDatabase()"><ion-icon name="search" slot="end"></ion-icon></ion-buttons>
  </ion-toolbar>


<ion-content>
<!-- List of Text Items -->


<div *ngFor="let image of images">
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
        <ion-img src="{{image.url}}" slot="start"></ion-img>
  
      <ion-label>
        <h2 ><b>{{image.name}}</b></h2>
        <p>{{image.adresse}}</p>
      </ion-label>
      <ion-buttons>
      <ion-icon name="eye" slot="end" class="eye" [routerLink]= "['/place-detaille',image.name]"></ion-icon>
    </ion-buttons>
    </ion-item>  
  </ion-list>
  </div>
  </ion-content>
  