<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Chercher des hotels"></ion-input>
    <ion-icon name="search-outline" slot="end"></ion-icon>
  </ion-toolbar>


<ion-content>
<!-- List of Text Items -->

<strong>
  <ion-text color="secondary">Restaurants</ion-text>
</strong>


<div *ngFor="let image of images">
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
        <ion-img src="{{image.url}}" slot="start"></ion-img>
  
      <ion-label>
        <h2 ><b>{{image.name}}</b></h2>
        <p>{{image.adresse}}</p>
      </ion-label>
      <ion-icon name="eye" slot="end" class="eye"></ion-icon>
    </ion-item>  
  </ion-list>
  </div>
  </ion-content>
  