  <ion-toolbar color="primary" class="map-toolbar">

    <ion-buttons slot="start">
                <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Choisir une place
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addMarker()">
        <ion-icon slot="icon-only" name="add-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-content>
    <div id="map">

       </div>
</ion-content>