<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-input type="text" placeholder="Chercher une place" [(ngModel)] = "searchTerm" ></ion-input>
  <ion-buttons slot="end" (click)="getImagesDatabase()"><ion-icon name="search" slot="end"></ion-icon></ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <br>
<strong>
  <ion-text color="secondary"></ion-text>
</strong>
  <div *ngFor="let image of images">
  <ion-card>
    <div>
     <img src="{{image.url}}" alt="Grottes" style="width:100%;">
     <strong class="top-left">{{image.name}}</strong>
     <button class="bottom-left" [routerLink]= "['/place-detaille',image.name]"><strong>Voir plus</strong></button>
   </div> 
   </ion-card>
  </div>
</ion-content>