
/* Top left text */
.top-left { 
  color: white;
  border:2%;
  text-shadow: 0 0 4px #000;
  font-size: 200%;
  line-height: 40px;
  position: absolute;
  top: 15%;
  left: 5%;
  right: 10%;
}
ion-text {
  padding: 10px;
  font-size: 120%;
  font-style: bold;
}

img{
  width: 10%;
  height: 10%;
  top: 10%;
  left: 10%;
  right: 10%;
}
.add{
  font-size: 230%;
  top: 90%;
  left: 80%;
  right: 10%;
  
}
.left{
  font-size: 130%;
  position: absolute;
  top:2%;
  left: 90%;
  right: 10%;
  bottom: 20%;
  
}
