
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Chercher une place"></ion-input>
    <ion-icon name="search" slot="end"></ion-icon>
  </ion-toolbar>


<ion-content [fullscreen]="true">
  <br>
  <strong>
    <ion-text color="primary">Accueil</ion-text>
  </strong>
 
<ion-card>
 <div>
  <img src="assets/grottes.png" alt="Grottes" style="width:100%;">
  <strong class="top-left">Grottes</strong>
  <button class="bottom-left" [routerLink]= "['/liste','grotte']"><strong>Voir plus</strong></button>
</div> 
</ion-card>

<ion-card>
 <div>
  <img src="assets/parcks.png" alt="Parcks" style="width:100%;">
  <strong class="top-left">Parcs</strong>
  <button class="bottom-left" [routerLink]= "['/liste','Parc']"><strong>Voir plus</strong></button>
</div> 
</ion-card>

<ion-card>

 <div>
  <img src="assets/monuments.png" alt="Monuments" style="width:100%;">
  <strong class="top-left">Monuments Historiques</strong>
  <button class="bottom-left" [routerLink]= "['/liste','monument_historique']"><strong>Voir plus</strong></button>
</div>
</ion-card>

</ion-content>