

ion-text {
  padding: 20px;
  font-size: 120%;
  font-style: bold;
}


/* Top left text */
.top-left { 
  color: white;
  border:2%;
  text-shadow: 0 0 4px #000;
  font-size: 200%;
  line-height: 40px;
  position: absolute;
  top: 15%;
  margin-left: -40%;
  margin-top: 15%;

}

button.bottom-left { 
  width: 25%;
  height: 15%;
  font-size: 90%;
  color: white;
  background-color: #167016;
  position: absolute;
  bottom: 15%;
  left: 10%;
  border: 2px solid none;
  border-radius: 10px;
}

.images{
  width: 90%;
  height: 70%;
  border-radius: 10%;
}
