  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Chercher une place"></ion-input>
    <ion-icon name="search" slot="end"></ion-icon>
  </ion-toolbar>
<ion-content [fullscreen]="true" >
<br>
<strong>

  <div *ngFor="let image of images">
  <ion-text class="titre">{{image.name}}</ion-text>
  </div>
</strong>
<div *ngFor="let image of images">
<ion-item lines="none">
        <img class="image"  src="{{image.url}}" > 
      <ion-label class="font">
         <ion-row>
               <h2  style="color: green ">Ville: </h2>
               <p style="color: black" >{{image.ville}}</p>
          </ion-row>
          <ion-row>
               <h2 style="color: green">Pays: </h2>
               <p style="color: black" >{{image.pays}} </p>
          </ion-row>
          <ion-row>
               <h2 style="color: green">Cordonnées: </h2>
               <p style="color: black" >{{image.long}} </p>
               <p style="color: black" >{{image.lat}} </p>
          </ion-row>
      </ion-label>
  </ion-item>

      <strong>
         <ion-text  class="titre">Description</ion-text>
      </strong>

  <ion-item class="box-text" lines="none" >
      <ion-text  class="ion-text-wrap" >
        {{image.desc}}
      </ion-text>
  </ion-item>
</div>

      <strong>
         <ion-text  class="titre">Images</ion-text>
      </strong><br>
      <hr>
      <ion-grid class="iongrid" >
          <ion-row >

            <div *ngFor="let image of images">
               <ion-col  >
          <img class="image1" src="{{image.url}}" >
        </ion-col  >
            </div>  

      
          </ion-row>
      </ion-grid><br>

  <footer >
      <strong>
         <ion-text class="titre">Localisation</ion-text>
      </strong>
      <hr>
      <ion-grid class="grid" >
           <ion-row >
        <ion-col *ngFor="let image of images">
          <ion-button class="buttons"fill="clear" [routerLink] = "['/localisation',image.lat,image.long]"><ion-icon name="location" class="icons"></ion-icon>    </ion-button>      
        </ion-col>
           </ion-row>
      </ion-grid>
      <br>
      <br>
      <br>

  </footer>
</ion-content>