.titre{
    padding: 10%;
    color: #167016;
 
 }
 
 .image{
   
     margin-left : 5%;
     border-radius: 10%;
     width: 42%;
     height: 62%;
     box-shadow: -2px 4px 4.5px   rgba(0,0,0,0.3);
     margin-right: 10%;
 margin-top: -5%;
 
 }
 
 
 .box-text
 {
     border-width: thin;
     border-style: double;
     border-color:#60805A; 
     border-radius: 3%;
     box-shadow: -2px 4px 4.5px   rgba(0,0,0,0.3);
    
     margin-right: 10%;
     margin-left: 10%;
     margin-bottom: 10%;
     margin-top: 5%;
     height: 20%;
     font-size:90%;
 }
 
 .font{
     margin: 4%;
 
 }
 
 
 .image1{
     border-radius: 10%;
     display: block;
     width: 100%;
     height: 85%;
     box-shadow: -2px 4px 4.5px   rgba(0,0,0,0.3);
     margin-left: 20%;
 }
 hr {
     border: 0;
     height: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     margin-left: 10%;
     margin-right: 10%;
 }
 
 
 .icons{
 
     border-radius: 50%;
     max-width: 100%;
     height: 100%;
     color: black;
     box-shadow: -2px 4px 4.5px   rgba(0,0,0,0.3);
 }
 .buttons{
 
     max-width: 100%;
     margin-right: -5%;
     margin-left: -5%;
     height: 100%;
     padding-bottom:30% ;
     
 
 }
 
 .iongrid {
     padding-right: 7%;
     padding-left: 5%;
     align-items: center;
 }