<ion-toolbar>
  <ion-icon name="menu-outline" slot="start"></ion-icon>
  <ion-input type="text" placeholder="Chercher une place"></ion-input>
  <ion-icon name="search-outline" slot="end"></ion-icon>
</ion-toolbar>


<ion-content [fullscreen]="true" >
<br>
<strong>
  <ion-text class="titre">Bab Boudir</ion-text>
</strong>

<ion-item lines="none">
        <img class="image"  src="assets/login.jpg" > 
      <ion-label class="font">
         <ion-row>
               <h2  style="color: green ">Ville: </h2>
               <p style="color: black" >taza </p>
          </ion-row>
          <ion-row>
               <h2 style="color: green">Pays: </h2>
               <p style="color: black" >Maroc </p>
          </ion-row>
          <ion-row>
               <h2 style="color: green">Cordonnées: </h2>
               <p style="color: black" >10° 15° 18° nord </p>
               <p style="color: black" >4° 10° 00° ouest </p>
          </ion-row>
      </ion-label>
  </ion-item>

      <strong>
         <ion-text  class="titre">Description:</ion-text>
      </strong>

  <ion-item class="box-text" lines="none" >
      <ion-text  class="ion-text-wrap" >
    Bab boudir est une commune rural de la Province de Taza
      </ion-text>
  </ion-item>

      <strong>
         <ion-text  class="titre">Images:</ion-text>
      </strong><br>
      <hr>
      <ion-grid class="iongrid" >
          <ion-row >
        <ion-col  >
          <img class="image1" src="assets/login.jpg" >
        </ion-col  >
          <ion-col >
          <img class="image1" src="assets/login.jpg" >
        </ion-col >
          <ion-col >
          <img class="image1" src="assets/login.jpg" >
        </ion-col >
          <ion-col >
          <img class="image1" src="assets/login.jpg" >
        </ion-col >
         <ion-col >
          <img class="image1" src="assets/login.jpg" >
        </ion-col >   
      
          </ion-row>
      </ion-grid><br>

  <footer>
      <strong>
         <ion-text class="titre">Suggestion:</ion-text>
      </strong>
      <hr>
      <ion-grid class="grid" >
           <ion-row >
        <ion-col >
        <ion-button class="buttons" fill="clear"><ion-icon name="partly-sunny" class="icons"></ion-icon> </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="buttons"fill="clear"><ion-icon name="restaurant" class="icons"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="buttons"fill="clear"><ion-icon name="location" class="icons"></ion-icon>    </ion-button>      
        </ion-col>
        <ion-col>
          <ion-button class="buttons"fill="clear"> <ion-icon name="bed" class="icons"></ion-icon> </ion-button>      
        </ion-col>
           </ion-row>
      </ion-grid>

  </footer>
</ion-content>